@charset "utf-8";
body {
	line-height: 24px;
}

td {
	min-width: 100px;
}

.title-h1 {
	background: #3ca2e0;
	height: 50px;
	border-bottom: 1px solid #399ad5;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

@media only screen and (max-width:769px) {
	.title-h1 {
		display: none;
	}
}

.nav-header {
	background: #3ca2e0;
	padding: 0;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.user-avatar {
	width: 98px;
	height: 98px;
	border: 2px solid #fff;
	margin-bottom: 5px;
}

.toux-menu {
	left: 25px;
	background: #fff;
}

.toux-menu .dropdown-menu a {
	font-size: 15px;
}

.nav-header .text-muted {
	color: #fff;
}

.dropdown-menu.toux-menu {
	font-size: 13px;
	color: #333;
}

.left-btn {
	position: absolute;
	width: 40px;
	background: #fff;
	border-right: 1px solid #eeeeee;
	height: 40px;
	text-align: center;
	color: #999;
	z-index: 2;
	top: 0;
}

.left-btn a {
	color: #999;
	display: block;
}

.left-btn a:hover {
	color: #999;
	display: block;
	background: #f2f2f2;
}

.nav.navbar-left> li> a {
	color: #000;
}

.left-toux {
	width: 30px;
	margin-right: 5px;
}

.nav> li> a.topnews {
	padding: 18px 15px 15px 15px;
}

.nav> li> a:focus,
.nav> li> a:hover {
	background: #3ca2e0;
	color: #fff;
}

.nav> li> a.topzhuti {
	padding: 15px 15px 15px 15px;
}

.ibox-title.exam-ibox {
	background-color: #3ca2e0;
	color: #fff;
	border: none;
}

.exam-ibox .ibox-tools a {
	color: #fff;
}

.ibox-title.exam-ibox h5 {
	margin: 2px 0px 0px 0px;
	font-size: 16px;
}

.table>thead>tr>th {
	color: #000;
}

.bars-add {
	margin-top: 10px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
	color: #333;
	text-decoration: none;
}

.btn:active,
.btn.active {
	outline: 0;
	background-image: none;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	box-shadow: none;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open> .dropdown-toggle.btn-default {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open> .dropdown-toggle.btn-default {
	background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #fff;
	border-color: #ccc;
}

.btn-default .badge {
	color: #fff;
	background-color: #333;
}

.btn-primary {
	color: #fff;
	background-color: #3ca2e0;
	border-color: #2698dd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open> .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #2089c9;
	border-color: #1b74aa;
}

.btn-primary:active,
.btn-primary.active,
.open> .dropdown-toggle.btn-primary {
	background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #3ca2e0;
	border-color: #2698dd;
}

.btn-primary .badge {
	color: #3ca2e0;
	background-color: #fff;
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open> .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn-success:active,
.btn-success.active,
.open> .dropdown-toggle.btn-success {
	background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-success .badge {
	color: #5cb85c;
	background-color: #fff;
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open> .dropdown-toggle.btn-info {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc;
}

.btn-info:active,
.btn-info.active,
.open> .dropdown-toggle.btn-info {
	background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
	background-color: #5bc0de;
	border-color: #46b8da;
}

.btn-info .badge {
	color: #5bc0de;
	background-color: #fff;
}

.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open> .dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}

.btn-warning:active,
.btn-warning.active,
.open> .dropdown-toggle.btn-warning {
	background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #f0ad4e;
	border-color: #eea236;
}

.btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff;
}

.btn-danger {
	color: #fff;
	background-color: #de6764;
	border-color: #da524f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open> .dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #d53e3a;
	border-color: #c22d29;
}

.btn-danger:active,
.btn-danger.active,
.open> .dropdown-toggle.btn-danger {
	background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #de6764;
	border-color: #da524f;
}

.btn-danger .badge {
	color: #de6764;
	background-color: #fff;
}

.btn-link {
	color: #3ca2e0;
	font-weight: normal;
	border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
	background-color: transparent;
	box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
	border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
	color: #1c7ab3;
	text-decoration: underline;
	background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
	color: #777777;
	text-decoration: none;
}

.btn-lg,
.btn-group-lg> .btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 0px;
}

.btn-sm,
.btn-group-sm> .btn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
}

.btn-xs,
.btn-group-xs> .btn {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-block+ .btn-block {
	margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
	width: 100%;
}

.btn-primary {
	border-color: #3ca2e0;
}

.btn-success {
	border-color: #5cb85c;
}

.btn-info {
	border-color: #5bc0de;
}

.btn-warning {
	border-color: #f0ad4e;
}

.btn-danger {
	border-color: #de6764;
}

.alert-primary {
	border-color: #3ca2e0;
}

.alert-success {
	border-color: #5cb85c;
}

.alert-info {
	border-color: #5bc0de;
}

.alert-warning {
	border-color: #f0ad4e;
}

.alert-danger {
	border-color: #de6764;
}

button.btn.btn-primary.btn-rounded.dropdown-toggle.haha {
	border-left: 1px solid #2698dd;
}

button.btn.btn-success.btn-rounded.dropdown-toggle.haha {
	border-left: 1px solid #449d44;
}

button.btn.btn-warning.btn-rounded.dropdown-toggle.haha {
	border-left: 1px solid #ec971f;
}

button.btn.btn-danger.btn-rounded.dropdown-toggle.haha {
	border-left: 1px solid #d53e3a;
}

button.btn.btn-primary.btn-bordered.dropdown-toggle.haha {
	border-left: 1px solid #3ca2e0;
}

button.btn.btn-success.btn-bordered.dropdown-toggle.haha {
	border-left: 1px solid #5cb85c;
}

button.btn.btn-info.btn-bordered.dropdown-toggle.haha {
	border-left: 1px solid #5bc0de;
}

button.btn.btn-warning.btn-bordered.dropdown-toggle.haha {
	border-left: 1px solid #f0ad4e;
}

button.btn.btn-danger.btn-bordered.dropdown-toggle.haha {
	border-left: 1px solid #de6764;
}

button.btn.btn-default.btn-bordered.dropdown-toggle.haha {
	border-left: 1px solid #ccc;
}

button.btn.btn-primary.dropdown-toggle.haha {
	border-left: 1px solid #2698dd;
}

button.btn.btn-success.dropdown-toggle.haha {
	border-left: 1px solid #449d44;
}

button.btn.btn-warning.dropdown-toggle.haha {
	border-left: 1px solid #ec971f;
}

button.btn.btn-danger.dropdown-toggle.haha {
	border-left: 1px solid #d53e3a;
}

.btn-outline:focus,
.btn-bordered:focus {
	color: inherit;
}

.search-topform {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 0px;
}

.search-topform .form-group {
	margin-bottom: 10px;
}

.search-topform button {
	margin-bottom: 10px;
}

.red {
	color: #f00;
}


/*-----------------------------add css----------------------------------*/

.radio-btn {
	margin-top: 5px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mt-15 {
	margin-top: 15px;
}

.mr-15 {
	margin-right: 15px;
}

.ml-35 {
	margin-left: 35px;
}

.ml-48 {
	margin-left: 48px;
}

.pt-20 {
	padding-top: 20px;
}

.pages {
	padding: 20px 15px;
}

.fl-l {
	float: left;
}

.pasges-num-input {
	border: none;
	background: none;
	width: 50px;
	height: 16px;
}


/*student css*/

.del-content {
	min-width: 300px;
}

.welcom-text {
	padding-top: 30px;
}

.text-center {
	text-align: center;
}

.pop-content {
	padding: 20px 15px;
}

.tishi {
	padding: 15px 15px 30px 15px;
	border-bottom: solid #eaeaea 1px;
	margin-bottom: 30px;
}

.enter-par {
	padding: 50px;
}

.enter-par a:hover {
	color: #3ca2e0;
}

.prac-text {
	font-size: 18px;
	color: #666666;
	margin-top: 20px;
}

.test_title {
	margin-left: -25px
}

.pub_test_part {
	margin-bottom: 25px;
}

.pub_test_part .number {
	width: 38px;
	word-break: break-all;
}

.pub_test_part .question {
	width: 95%;
	word-break: break-all;
}

.checkbox label::after {
	top: -4px;
}

.pub_test_part .checkbox-inline,
.pub_test_part .radio-inline {
	display: block;
	margin-bottom: 15px;
}

.fl_li li {
	list-style: none;
	float: left;
}

.pub-border {
	border-bottom: solid #EAEAEA 1px;
	margin-bottom: 30px;
	padding-bottom: 15px;
}

.file input {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
}

.toux-log {
	width: 200px;
	height: 200px;
	margin: 20px auto;
}

.caij-pic {
	width: 85%;
	margin: 20px auto;
}
.checkbox input[type="checkbox"]:checked + label.wrong::after
												{    
													font-family: "FontAwesome";
                                                             content: "\f00d";
                                                             color: #FFFFFF}

/*隐藏导航样式*/

.nav>li.opcity {
	opacity: 0;
	filter: Alpha(opacity=0);
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
}